* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'PT Sans', sans-serif;
}

.home,
.services,
.products,
.sign-up {
  display: flex;
  height: 90vh;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
  color: #fff; /* Thêm màu chữ trắng cho các phần tử này */
}

.services {
  background-image: url('../public/images/img-2.jpg'); /* Điều chỉnh đường dẫn hình ảnh */
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  font-size: 100px;
}

.products {
  background-image: url('../public/images/img-1.jpg'); /* Điều chỉnh đường dẫn hình ảnh */
  background-position: center;
  background-size: cover; /* Sửa thành cover để hình ảnh hiển thị đầy đủ */
  background-repeat: no-repeat;
  font-size: 100px;
}

.sign-up {
  background-image: url('../public/images/img-8.jpg'); /* Điều chỉnh đường dẫn hình ảnh */
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  font-size: 100px;
}
